* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background: linear-gradient(135deg, #2196f3 , #6a1b9a);
  height: 100vh;
}
